:root {
  --Noto: "Noto Sans", sans-serif;
  --Poppins: "Poppins", sans-serif;
  --Playwrite: "Playwrite IN", cursive;
  --Alfa: "Alfa Slab One", cursive;
  --Kanit: "Kanit", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}
/* End of Default Styles */

/* Container */
.container {
  width: 100%;
  height: 100%;
  background-color: #202020;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 10rem;
  background-color: #202020;
  position: fixed;
  top: 0;
  z-index: 100;
}

.brand {
  display: flex;
  position: absolute;
  top: 50%;
  left: 8rem;
  transform: translateY(-50%);
}

.logo1 {
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid #dba81b;
}

.logo2 {
  width: 5rem;
  height: 5rem;
  background-color: #202020;
  position: absolute;
  top: 1rem;
  left: 1rem;
  /* z-index: 10; */
}

.logo3 {
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid #dba81b;
  background-color: #202020;
  position: absolute;
  top: 2rem;
  left: 2rem;
  /* z-index: 20; */
}

.brand span {
  font-size: 4rem;
  color: #fff;
  font-family: var(--Kanit);
  letter-spacing: 0.3rem;
  margin: 0rem 0 0 3rem;
}

.search-bar {
  position: absolute;
  top: 50%;
  right: 15rem;
  transform: translateY(-50%);
}

.search-bar input {
  width: 45rem;
  height: 5rem;
  font-family: var(--Poppins);
  background-color: #3e3e41;
  border: none;
  padding: 2rem 2rem 2rem 4rem;
  font-size: 1.8rem;
  transition: 0.5s ease;
  color: #fff;
  border-radius: 0.5rem;
}

.search-bar input::placeholder {
  color: #ccccccd2;
}
.search-bar input:focus::placeholder {
  color: #eee;
}
.search-bar i:hover {
  color: #eee;
}
.search-bar i {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  cursor: pointer;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: #ccccccd2;
}

.menu-icon {
  width: 4rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  right: 8rem;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.line {
  width: 4rem;
  height: 0.2rem;
  background-color: #ccc;
  transition: all 0.3s;
}

.change .line-1 {
  width: 55%;
  transform: rotateZ(-15deg) translate(-0.2rem, 0.8rem);
}

.change .line-3 {
  width: 55%;
  transform: rotateZ(15deg) translate(-0.2rem, -0.8rem);
}

.navigation {
  width: 100%;
  height: 100vh;
  background-color: #0b0b14;
  position: absolute;
  top: -100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  /* z-index: 50; */
}

.change .navigation {
  top: 0;
}

.navigation a {
  font-family: var(--Noto);
  font-size: 6rem;
  color: #fff;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
  position: relative;
  opacity: 0;
  visibility: hidden;
}

.change .navigation a:nth-child(1) {
  transition: all 0.3s 0.3s;
}

.change .navigation a:nth-child(2) {
  transition: all 0.3s 0.5s;
}

.change .navigation a:nth-child(3) {
  transition: all 0.3s 0.7s;
}

.change .navigation a:nth-child(4) {
  transition: all 0.3s 0.9s;
}

.change .navigation a:nth-child(5) {
  transition: all 0.3s 1.1s;
}

.change .navigation a:nth-child(6) {
  transition: all 0.3s 1.3s;
}

.change .navigation a {
  opacity: 1;
  visibility: visible;
}

.navigation a::before {
  content: "";
  width: 15rem;
  height: 0.5rem;
  background-color: #dba81b;
  position: absolute;
  top: 50%;
  left: -17rem;
  transform: translateY(-50%);
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.navigation a:hover::before {
  transform: scale(1);
}

.navigation a::after {
  content: "";
  width: 15rem;
  height: 0.5rem;
  position: absolute;
  background-color: #dba81b;
  top: 50%;
  right: -17rem;
  transform: translateY(-50%);
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.navigation a:hover::after {
  transform: scale(1);
}
/* End of Navbar */

/* Landing */
.landing {
  width: 100%;
  height: 98vh;
  position: relative;
}

.landing-img {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
  height: 85vh;
}

.landing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.banner {
  position: absolute;
  bottom: 8rem;
  left: 1rem;
}

.banner-heading {
  font-size: 7rem;
  color: #fff;
}

.banner-heading span {
  font-family: var(--Kanit);
  font-size: 9rem;
  color: #dba81b;
  letter-spacing: 0.5rem;
}

.banner-content {
  display: flex;
  align-items: center;
}

.banner-content p {
  width: 45rem;
  font-size: 2rem;
  color: #fff;
  margin-right: 2rem;
}

.banner-content button {
  width: 15rem;
  height: 5rem;
  font-family: var(--Poppins);
  background-color: transparent;
  border: 0.3rem solid #fff;
  color: #fff;
  font-size: 1.9rem;
  transition: 0.3s ease;
  letter-spacing: 0.15rem;
  font-weight: bold;
  cursor: pointer;
}

.banner-content button:hover {
  background-color: white;
  color: #202020;
}
/* End of Landing */

/* About */
.about {
  width: 100%;
  height: 85vh;
  background-color: #313133;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.about-left h1 {
  font-size: 5rem;
  color: #fff;
  font-family: var(--Montserrat);
  width: 50rem;
  margin-bottom: 4rem;
}

.about-left p {
  font-size: 2.2rem;
  color: #fff;
  width: 50rem;
  margin-bottom: 5rem;
}

.about-left button {
  width: 18rem;
  height: 5rem;
  background-color: transparent;
  border: 0.3rem solid #dba81b;
  font-family: var(--Roboto);
  color: #dba81b;
  font-size: 2.2rem;
  font-weight: 600;
  font-style: italic;
  transition: 0.4s ease;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.about-left button:hover {
  background-color: #dba81b;
  color: #eee;
}
.frame {
  width: 50rem;
  height: 35rem;
  border: 3rem solid #555;
  position: absolute;
  top: 15rem;
  right: 40rem;
}

.about-img-wrapper {
  width: 50rem;
  height: 35rem;
  position: absolute;
  top: 8rem;
  right: 33rem;
}

.about-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-bottom {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  height: 12rem;
  border-right: 1rem solid #dba81b;
  text-align: right;
  padding-right: 2rem;
}

.section-bottom h1 {
  font-family: var(--Kanit);
  font-size: 5rem;
  color: #555;
  letter-spacing: 0.5rem;
}

.section-bottom h3 {
  font-size: 2rem;
  color: #fff;
}
/* End of About */

/* Projects */
.projects {
  width: 100%;
  height: 100vh;
  position: relative;
}

.projects-heading {
  font-size: 8rem;
  font-family: var(--Noto);
  color: #fff;
  margin: 7rem 0 10rem 9rem;
  letter-spacing: 0.2rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
}

.card {
  width: 33rem;
  height: 45rem;
  margin-right: 2.5rem;
  cursor: pointer;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.6s;
}

.card:hover .card-content {
  background-color: rgba(0, 0, 0, 0.9);
}

.card-content::before {
  content: "";
  width: 92%;
  height: 0.1rem;
  background-color: #dba81b;
  position: absolute;
  left: 0;
  top: 2rem;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.8s;
}

.card:hover .card-content::before {
  transform: scale(1);
}

.card-content::after {
  content: "";
  width: 0.1rem;
  height: 94%;
  background-color: #dba81b;
  position: absolute;
  left: 2rem;
  top: 0;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0.8s;
}

.card:hover .card-content::after {
  transform: scale(1);
}

.card-content h1 {
  font-size: 2.3rem;
  font-family: var(--Roboto);
  color: #fff;
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 20rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.card:hover .card-content h1 {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 0.6s;
}

.card-content p {
  font-size: 1.9rem;
  color: #fff;
  position: absolute;
  top: 13rem;
  left: 4rem;
  width: 17rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.card:hover .card-content p {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 0.6s;
}

.designs {
  right: 12rem;
}
/* End of Projects */

/* Customers */
.customers {
  width: 100%;
  height: 90vh;
  background-color: #313133;
  padding-top: 7rem;
  position: relative;
}

.customers-heading {
  font-size: 6rem;
  color: #fff;
  font-family: var(--Montserrat);
  width: 50rem;
  margin: 0 0 8rem 9rem;
  letter-spacing: 0.2rem;
}

.customers-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.customers-card {
  position: relative;
}

.customers-card img {
  width: 20rem;
  position: absolute;
  top: -5rem;
  right: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.customers-card-content {
  width: 50rem;
  height: 22rem;
  background-color: #777;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.customers-card-content h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.customers-card-content h3 {
  font-family: var(--Playwrite);
  font-size: 1.5rem;
  color: #eee;
  margin-bottom: 3rem;
}

.customers-card-content i {
  font-size: 2rem;
  color: #fff;
}

.customers-card-content p {
  font-size: 1.6rem;
  color: #fff;
}
/* End of Customers */

/* Contact */
.contact {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.contact-content h1 {
  font-size: 3rem;
  font-family: var(--Noto);
  text-transform: uppercase;
  color: #ccc;
}

.contact-content input {
  width: 45rem;
  height: 4rem;
  background-color: transparent;
  padding: 1.5rem 1.5rem 2.2rem 0;
  border: none;
  border-bottom: 0.1rem solid #777;
  font-size: 1.8rem;
  color: #ccc;
  transition: all 0.4s;
}

.contact-content input:focus {
  border-bottom: 0.1rem solid #dba81b;
}

.contact-content input::placeholder {
  transition: all 4s;
  color: #ccc;
  font-family: var(--Poppins);
  letter-spacing: 0.1rem;
}
.contact-content input:focus::placeholder {
  color: #dba81b;
}
.contact-right {
  position: relative;
}
.contact-right i:hover {
  color: #dba81b;
}
.contact-right i {
  font-size: 2rem;
  transition: all 0.4s;
  position: absolute;
  top: 20%;
  right: 0;
  color: #ccc;
  cursor: pointer;
}
/* End of Contact */

/* Footer */
.footer {
  width: 100%;
  height: 7rem;
  background-color: #202020;
  border-top: 0.1rem solid #3e3e41;
  position: relative;
}

.brand-footer {
  position: absolute;
  top: 3.5rem;
  left: 20%;
}

.brand-footer .logo1 {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #dba81b;
}

.brand-footer .logo2 {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #202020;
  top: 0.7rem;
  left: 0.7rem;
}

.brand-footer .logo3 {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.3rem solid #dba81b;
  background-color: #202020;
  top: 1.3rem;
  left: 1.3rem;
}

.brand-footer span {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.copyright {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20%;
  font-size: 1.6rem;
  color: #ccc;
}
/* End of Footer */
/* End of Container */

/* Responsive */
@media (max-width: 1700px) {
  .banner {
    left: 12rem;
  }

  .about-right {
    margin-right: 20rem;
  }

  .frame {
    width: 45rem;
    height: 30rem;
    right: 20rem;
  }

  .about-img-wrapper {
    width: 45rem;
    height: 30rem;
    right: 13rem;
  }

  .experience {
    right: 20rem;
  }

  .projects {
    height: 100%;
  }

  .cards {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25rem;
  }

  .card {
    margin: 1.5rem;
  }

  .customers-content {
    width: 90%;
  }

  .client {
    right: 20rem;
  }

  .contact-content {
    width: 90%;
  }

  .brand-footer {
    left: 16%;
  }

  .copyright {
    right: 16%;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 55%;
  }

  .frame {
    width: 40rem;
    height: 25rem;
    right: 15rem;
  }

  .about-img-wrapper {
    width: 40rem;
    right: 8rem;
    height: 25rem;
  }

  .experience {
    right: 12rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 49%;
  }

  .about-left p {
    width: 40rem;
  }

  .customers-content {
    width: 100%;
  }

  .client {
    right: 10rem;
  }

  .contact-content {
    width: 100%;
  }

  .brand-footer {
    left: 10%;
  }

  .copyright {
    right: 10%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 45%;
  }

  .search-bar input {
    width: 30rem;
  }

  .banner-heading {
    font-size: 7rem;
  }

  .banner-heading span {
    font-size: 7rem;
  }

  .banner-content p {
    font-size: 1.7rem;
    width: 35rem;
  }

  .about-left h1 {
    font-size: 3rem;
    width: 35rem;
  }

  .about-left p {
    width: 35rem;
    font-size: 1.7rem;
  }

  .frame {
    width: 30rem;
    height: 15rem;
    border: 1.5rem solid #555;
    right: 10rem;
  }

  .about-img-wrapper {
    width: 30rem;
    right: 7rem;
    top: 12rem;
    height: 15rem;
  }

  .experience {
    right: 7rem;
  }

  .customers {
    height: 100%;
    padding-bottom: 12rem;
  }

  .customers-content {
    flex-direction: column;
    align-items: center;
  }

  .customers-card {
    margin: 8rem;
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-left {
    margin-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 35%;
  }

  .navbar-brand span {
    display: none;
  }

  .navigation a {
    font-size: 3rem;
  }

  .navigation a::before,
  .navigation a::after {
    width: 10rem;
  }

  .navigation a::before {
    left: -13rem;
  }

  .navigation a::after {
    right: -13rem;
  }

  .banner {
    left: 5rem;
    bottom: 18rem;
  }

  .banner-heading {
    font-size: 5rem;
  }

  .banner-heading span {
    font-size: 4rem;
  }

  .about {
    justify-content: center;
    height: 100%;
    padding: 10rem 0 25rem 0;
  }

  .about-left {
    text-align: center;
    margin-right: 0;
  }

  .about-right {
    display: none;
  }

  .projects-heading {
    font-size: 6rem;
  }
}
/* End of Responsive */
